<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<br>

<%= form_tag import_sales_path, multipart: true do %>
  <%= file_field_tag :file, accept: '.txt' %>
  <%= submit_tag "Import TXT file" %>
<% end %>

<br>

<table>
  <thead>
    <tr>
      <th>Buyer</th>
      <th>Description</th>
      <th>Unit price</th>
      <th>Quantity</th>
      <th>Address</th>
      <th>Provider</th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.buyer %></td>
        <td><%= sale.description %></td>
        <td>$ <%= sale.unit_price %></td>
        <td><%= sale.quantity %></td>
        <td><%= sale.address %></td>
        <td><%= sale.provider %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Total: $ <%= @total_sale %></h2>
<br>
